.root{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  .form{
    width: 600px;
    border: 1px solid #000000;
    .content{
      padding: 60px;
      display: flex;
      flex-direction: column;
      input{
        margin: 10px 0;
        height: 40px;
      }
      h2{
        text-align: center;
      }
      .downContent{
        display: flex;
        justify-content: space-between;
        button{
          width: 100px;
          height: 30px;
          background: darkslategrey;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
