.header{
  height: 70px;
  width: 100%;
  background: darkslategrey;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    p{
      color: #fff;
      font-size: 32px;
      margin: 0;
    }
    .authBtns{
      display: flex;
      align-items: center;
    }
    .adminBtn{
      margin-right: 20px;
      width: 150px;
      color: white;
      background: black;
      padding: 10px 20px;
      border-radius: 10px;
    }
    nav{
      ul{
        display: flex;
        margin: 0;
        li{
          padding: 0 20px;
          a{
            color: #fff;
          }
        }
      }
    }
  }
}